.pl-20 {
  padding-left: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.float-r {
  float: right;
}
.body-container {
  min-height: 720px;
  background: #f9f9f9;
}
.page-header {
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-pack: start;
  box-pack: start;
  -webkit-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.system-add-btn {
  text-align: right;
  margin-bottom: 15px;
  margin-right: 15px;
}
.modal-err-msg {
  float: left;
  color: #e81414;
}
#container-questionList {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
}
#container-questionList .title {
  font-size: 14px;
  font-weight: 600;
}
#container-questionList .question-item {
  margin-bottom: 10px;
  border-bottom: 1px dashed rgba(179,178,178,0.52);
  padding-bottom: 15px;
}
#container-questionList .question {
  font-size: 14px;
  margin-bottom: 10px;
}
#container-questionList .options {
  font-size: 14px;
  display: table;
}
#container-questionList .option {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 20px;
  cursor: pointer;
  float: left;
}
#container-questionList .option.active {
  background: #247ac3;
  color: #f5f5f5;
}
#container-questionList .glyphicon-block {
  width: 14px;
  height: 14px;
}
#container-questionList .glyphicon-ok {
  color: #228b22;
}
#container-questionList .glyphicon-remove {
  color: #f00;
}
#container-questionList .btn {
  width: 40%;
  margin: 0 auto;
  display: block;
}
#container-addQuestions .option-line,
#addQuestion .option-line {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 5px;
}
#container-addQuestions .glyphicon-plus-sign,
#addQuestion .glyphicon-plus-sign {
  color: #337ab7;
}
#container-addQuestions .add-btn,
#addQuestion .add-btn {
  margin-left: 10px;
  color: #337ab7;
  cursor: pointer;
}
