@import "./mixins"

.pl-20
  padding-left: 20px
.mb-10
  margin-bottom 10px
.mt-5
  margin-top: 5px
.float-r
  float: right;
.body-container
  min-height: 720px
  background #f9f9f9
.page-header
  flexbox center start
.row
  margin-right: 0;
  margin-left: 0;

.system-add-btn
  text-align: right;
  margin-bottom: 15px;
  margin-right: 15px

#container-questionList
  padding: 20px
  border: 1px solid #ccc
  margin: 20px;
  .title
    font-size: 14px
    font-weight: 600
  .question-item
    margin-bottom: 10px;
    border-bottom: 1px dashed rgba(179, 178, 178, 0.52);
    padding-bottom: 15px;
  .question
    font-size: 14px
    margin-bottom: 10px;
  .options
    font-size: 14px;
    display: table;
  .option
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
    float: left;
  .option.active
    background: #247AC3;
    color: #F5F5F5;
  .glyphicon-block
    width: 14px;
    height: 14px;
  .glyphicon-ok
    color: forestgreen;
  .glyphicon-remove
    color: #F00;
  .btn
    width: 40%;
    margin: 0 auto;
    display: block;

#container-addQuestions, #addQuestion
  .option-line
    border-bottom: 1px dashed #ccc;
    margin-bottom: 5px;
  .glyphicon-plus-sign
    color: #337ab7;
  .add-btn
    margin-left: 10px;
    color: #337ab7;
    cursor: pointer;

